body {
    margin: 0;
    background-color: #222;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}


header h1 {
    margin: 0;
}

#page-selectors {
    display: flex;
    flex-direction: row;
}


.page-selector {
    padding: .5rem 1rem;
    border-top: 3px solid #88a;
    background-color: #393939;
    margin: 0 1px 0 1px;
    cursor: pointer;
}

.page-selector.selected {
    background-color: #444;
    border-top: 3px solid #ddd;
}

.page-selector:hover {
    background-color: #444;
}

#dash-pages {
    padding: 1rem;
    background-color: #444;
}
.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
                /*window - top_panel - page padding*/
    min-height: calc((100vh - 100px) - 2rem);*/
}

.page.hidden {
    display: none;
}

#page2 {
    background-color: white;

}


#map {
    height: 60%;
    width: auto;
    margin: 30 auto;
}
svg {
    max-width: 100%;
    max-height: 100%;
}


#map_click_output_table {
    border-collapse: collapse;
    margin-bottom: auto;
    border: 2px solid white;
    background-color: #222;
}

th, td {
    border: 1px solid #ddd;
    height: 5px;
    width: 5px;
    padding: 5px;
    border-radius: 5px;
}

th {
    font-weight: bold;
}

td:nth-child(1) {
    font-weight: bold;
}

td:nth-child(n+2) {
    text-align: right;
}
#chart-js {
    max-width: 100%;
    max-height: 100%;
}
